#header-top{
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
}

#header-top ul > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    color:#fff;
    transition: all .4s ease-in-out;
}

#header-top ul > li > a:hover {
    background-color: #000;
    color:#fff;
}

.navbar-nav,
.navbar-nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-nav > li > a{
    color:#000;
    text-transform:Uppercase;
}
.navbar-nav > li > a:hover{
    background-color:#fff;
}